#main-nav {
  margin: 1em 0;
}

#main-nav ul {
  list-style: none;
}

#main-nav a {
  display: inline-block;
  padding: 0.5em 1em;
  margin-right:1em;
  background: #7f4cc1;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

#main-nav a:hover {
  background: #6637A2;
}
